form{
    background-color: rgba(142, 122, 255, 0.555);
    border-radius: 10px;
    font-size: 10px;
    color: aqua;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}
input, textarea{
    margin-top: -20px;
    border: 0;
    outline: none;
    width: 90%;
    text-align: center;
}
.field{
    border: solid 1px ;
    padding: 10px;

}
.field:focus{
    border-color: aqua;
}